<%- include header %>
<ul class="archive">
    <% var lastYear = 0 %>
    <% posts.forEach(function (post, index) { %>
    <% if (lastYear != post.time.year) { %>
    <li><h2 class="text-muted"><%= post.time.year %></h2></li>
    <% lastYear=post.time.year } %>
    <li><small class="text-muted pull-right"><%= post.time.day %></small></li>
    <li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
    <% }) %>
</ul>
<%- include footer %>